deps/
tmp/
icloud/
www/
tts/
_scenegen/

home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-journal
home-assistant_v2.db-wal
home-assistant_v2.db-shm
.uuid
.google.token
.HA_VERSION
.log
.db*
.spotify-token-cache
ios.conf
\.directory


secrets.yaml
google_calendars.yaml
known_devices.yaml

\.ios\.conf

plex\.conf
